.navbar {
  border-bottom: 1px solid #051b41;
  .navbar-nav ul {
    display: flex;
    align-items: center;

    li {
      font-size: 16px;
      font-weight: 700;
      padding: 8px 15px 0;

      a {
        color: #051b41;

        &:hover {
          color: #d72647;
        }
      }
    }
  }
}
