.NonProfitBanner {
  background: url(../../assets/images/bg-dc.jpg);
  background-size: cover;
  padding: 120px 100px;
}
h3 {
  font-family: carbo;
  font-size: 60px;
  color: #fff;
  width: 68%;
  text-align: center;
  margin: 0 auto 80px;
}
.NonProfitBannerBtns {
  margin: 0 auto;
  width: 660px;
}
.button {
  margin: 20px;
}
